/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html{
  width: 100vw;
  height: 100vh;
}

div.calendar{
  width: 80vw;
  height: 93vh;
  float: right;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  /* background: radial-gradient(rgb(160, 217, 224),rgb(119, 119, 235)); */
  background: linear-gradient(#00838f, #439889);
}

div.year{
  width: 100%;
  /* height: 5%; */
  font-size: 24px;
  display: inline-block;
  box-sizing: border-box;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  /* border-radius: 16px; */
  background-color: rgb(145, 228, 214);
}

div.month{
  width: 100%;
  /* height: 5%; */
  font-size: 20px;
  display: inline-block;
  box-sizing: border-box;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  /* border-radius: 16px; */
  background-color: rgb(145, 228, 214);
}

span.day{
  width: 153px;
  height: 193px;
  font-size: 32px;
  display: inline-flex;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  /* border-radius: 16px; */
  background-color: rgb(145, 228, 214);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div.sidebar {
  display: block;
  float: left;
  width: 20vw;
  height: 93vh;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  /* background: radial-gradient(rgb(160, 217, 224),rgb(119, 119, 235)); */
  /* background: linear-gradient(#00838f, #439889); */
  background-color: rgb(145, 228, 214);
  text-align: center;
}