html {
  width: 100vw;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

div.calendar{
  min-width: 80%;
  min-height: 90%;
  box-sizing: border-box;
  border-style: ridge;
  border-color: blue;
  border-width: 5px;
  float: right;
  background-color: rgb(160, 217, 224);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
