
html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div.calendar { 
  height: 93vh;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: flex-end;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: #439799;
  color: rgb(228, 225, 222);
}


div.days-container {
  width: 100%;
  height: 82%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-content: stretch; */
  justify-content: center;
}

div.year {
  font-size: 24px;
  flex-basis: 100%;
  box-sizing: border-box;
  border-top: 3px solid black;
  background-color: #BF8096;
}

div.yearselector {
  margin-left: 10%;
  margin-top: 5%;
  padding: 10px 15px;
  display: block;
  border-style: outset;
  border-width: 4px;
  position: fixed;
  z-index: 99;
  background-image: linear-gradient(#729FC1, #71dddf);
  color: white;
}

div.monthselector {
  margin-left: 10%;
  margin-top: 7%;
  padding: 10px 15px;
  display: block;
  border-style: outset;
  border-width: 4px;
  position: fixed;
  z-index: 99;
  background-image: linear-gradient(#729FC1, #71dddf);
  color: white;
}

div.month {
  font-size: 20px;
  flex-basis: 100%;
  box-sizing: border-box;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background-color: #BF8096;
}

span.day {
  font-size: 32px;
  flex-basis: 14.2857142857%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #BF8096;
  box-shadow: 2px 5px 5px #333;
}

span.focus {
  z-index: 99;
  font-size: 32px;
  flex-basis: 14.2857142857%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: rgb(231, 156, 187);
  box-shadow: 4px 10px 10px #333;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div.sidebar {
  position: relative;
  display: block;
  float: left;
  width: 20vw;
  height: 93vh;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  text-align: center;
  background-color: #729FC1;
  color: rgb(228, 225, 222);
}

div.daydock {
  position: relative;
  display: block;
  float: right;
  width: 20vw;
  height: 93vh;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  text-align: center;
  background-color: #729FC1;
  color: rgb(228, 225, 222);
}

ol {
  padding-left: 0;
  list-style-type: none;
}

li {
  width: 100%;
  font-size: 100%;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: solid 2px black;
}

li:first-child {
  border-top: solid 2px black;
}

ul.events-list {
  list-style-type: none;
  padding-left: 0;
}

button.create-event {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  border-top: solid 5px black;
  border-right: solid 5px black;
  border-left: 0;
  border-bottom: solid 5px black;
  background-color: maroon;
}

button.open-calendar-form {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  border-top: solid 5px black;
  border-left: solid 5px black;
  border-right: 0;
  border-bottom: solid 5px black;
  background-color: maroon;
}

button.open-calendar-form:hover {
  background-color: rgb(190, 0, 0)
}

button.create-event:hover {
  background-color: rgb(190, 0, 0)
}

form.events-form textarea {
  width: 250px;
  height: 400px;
}

form.create-calendar input {
  width: 250px;
}

form.events-form input {
  width: 250px;
}



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */