span.hamburger-box{
    float: left;
}

span.UserDash{
    text-align: center;
    font-size: 20px;
    float: right;
}

button {
    height:100%;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    padding: 18px 22px;
    border-style: none;
    background-color: rgb(145, 228, 214); 
}

span.hamburger-box{
    float: left;
}

div.Navbar{
    width: 100vw;
    height: 7vh;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    /* background: radial-gradient(rgb(160, 217, 224),rgb(119, 119, 235)); */
    /* background: linear-gradient(#00838f, #439889); */
    background-color: rgb(145, 228, 214);
}